{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h2 class="text-center">Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post" class="text-center w-75 mx-auto p-4 border border-warning rounded bg-light">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username" autocomplete="off">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address" autocomplete="off">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-warning" type="submit" value="Register">
    </form>

    <p class="text-center small mt-1">Already have an account? <a href="{% url 'login' %}" class="link-warning">Log In here.</a></p>

{% endblock %}